body {
    padding: 0;
    margin: 0;
    font-family: fantasy;
    background-image: url(./assets/background.jpg)
}

#banner{
    background-color: black;
    color: lavender;
    text-align: left;
    padding: 0 5px 0 5px;
    font-size: 25px;
    
}

#navbar{
    background-color: black;
    color: lavender;
}

#navlist{
    list-style-type: none;
    text-align: center;
}

.navli{
    display: inline;
    padding: 5px 25px 5px 25px;
    font-size: 25px;
}

#featuredProducts{
    background-color: black;
    margin: 5px 50px;
}

.product{
    height: 200px;
    border-radius: 50%;
    padding: 5px;
    margin: 5px 50px;
    border: 2px solid lavender;
}

#submission{
    background-color: black;
    border: 20px solid pink;
    color: white;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    width: 400px;
    font-size: 30px;
    padding: 10px;
}

#submissionImage{
    padding: 0 10px 10px 10px;
}

#submissionText{
    padding: 10px 10px 0 10px;
}

#blog{
    background-color: black;
    color: lavender;
    opacity: 0.75;
    width: 1000px;
    margin: auto;
    padding: 20px;
}

#pictures{
    margin: 15%;
    margin-top: 50px;
    margin-bottom: 20px;
    padding: 10px;
}

.picture{
    width: 200px;
    height: 200px;
    border: 2px solid black;
    margin: 2px;
}

#promo{
    background-color: pink;
    border: 20px solid black;
    padding: 5px;
    width: 300px;
    height: 300px;
    margin: 30px;
    text-align: center;
    float: left;
    font-size: 30px;
}

#featuredLook{
    background-color: pink;
    border: 20px solid black;
    padding: 5px;
    width: 300px;
    height: 300px;
    margin: 30px;
    text-align: center;
    font-size: 20px;
    float: left;
}

#featuredDIY{
    background-color: pink;
    border: 20px solid black;
    padding: 5px;
    width: 300px;
    height: 300px;
    margin: 30px;
    text-align: center;
    font-size: 20px;
    float: left; 
}

#foot{
    color: black;
    text-align: center;
    font-size: 15px;
}